.funfacts{
  clear: both;
  background-image: url("../img/fun-rectangle.png");
}
.row-content{
  h1,p{
    color: white;
    margin-left: 30px;
  }
}
.border-img{
  img{
    border: 1px solid white;
    padding: 45px;
    border-radius: 50%;
  }
}

.col-header{
  .container{
    margin-left: 150px;
  }
}
