
.row-main{
  display:block;
  padding: 20px 0;
  .col-sm-12{
    padding: 5px 0;
  }
}
.discuss-header {
  height: 640px;
}
.hr-discusss{
  hr{
    background-color: #cdd2d6;
  }
}

.map{
  img{
    max-width: 100%;
  }
  position: relative;
  .pin{
    position: absolute;
    top: 50%;
    img{
      float:right;
    }
  }
}

.message{
  display: inline-flex;
  float: right;
  margin-top: 20px;
  img{
    margin-right: 10px;
  }
}
.input-inf{
  margin-top: 20px;
  p{
    color: gray;
  }
  input{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: solid 2px #cccccc;
    outline: none;
  }
}

.address{
  padding-left: 0;
  padding-right: 0;
  color: gray;
}