.txt-header{
  text-align: center;
  color: #062033;
}
.work-navbar{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}
.all-header{
  padding-top: 100px;
}
.works-content{
  img{
    max-width: 100%;
  }
  .col-sm-3{
    padding: 0;
  }
}

.meet-content{
  img{
    max-width: 100%;
  }
  .col-sm-3{
    padding: 0;
  }
}