.txt-header{
  text-align: center;
  color: #062033;
  margin-bottom: 30px;
}
.work-navbar{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    a {
      color: black;
      padding-top: 5px;
      /* border-bottom-width: 5px; */
      padding-bottom: 5px;
      &:hover {
        color: white;
        background-color: #0eb493;
        border-radius: 5px;
      }
    }
  }

  li {
    float: left;
    margin-bottom: 20px;

  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

all-header{
  padding-top: 100px;
}

.works-content{
  .col-sm-3{
    img{
      max-width: 100%;

    }
    padding: 0;

  }
  .img-bg {
    position: relative;
    overflow: hidden;
    padding: 0;
    //transition: 5s;
    &:hover {
      .img-hover {
        top: 0;
        left: 0;
        overflow: hidden;
        opacity: 0.8;
        }
      }
    }
}

.img-hover{
  background-color: #0eb493;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  transition: 1s;
  h4,p{
    text-align: center;
    vertical-align: middle;
    top: 50%;
    color: white;
  };

}

.meet-content{
  img{
    max-width: 100%;
  }
  .col-sm-3{
    padding: 0;
  }
}
.work-header-hr-img{
  margin-bottom: 25px;
}





