.header-logo {
  border-right: 2px solid;
  float: left;
}

.header-gr {
  display: inline-flex;
  line-height: 26px;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}

.header-top {
  background-color: #cfd0d7;
  height: 70px;
}

header {
  img {
    margin-right: 20px;
  }

  span {
    margin-left: 20px;
  }

  li:hover {
    border-top-style: solid;
    border-color: #32b0ee;
    background-color: transparent;
    border-width: 2px;
  }

  span {
    color: #ffffff;
  }

  li {
    color: #ffffff;
  }
}

.header-container {
  position: relative;

  .navigation {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: rgba(16, 22, 54, 0.2);
  }
}

