.features{
  background-color: #f4f7f9;
  padding-bottom: 140px;
}
.features-content-img{
  float:left;
  padding-right:10px;
}

.features-content{
  overflow:hidden;
}
.all-header{
  margin-bottom: 0;
  padding-top: 0;

  h2{
    color: #0eb493;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;

  }
}
.header-content-img{
  img{
    margin-right: 14px;
  }
}
.all-header-hr{
  hr{
    width: 100px;
  }
}
.all-header-hr-img{
  justify-content: center;
  display: flex;
  margin-bottom: 45px;
}
.all-header-img{
  margin:10px;
}

.features-carousel{
  position: relative;
}

.features-carousel-indicators{
  position: absolute;
  width: auto;
  transform: rotate(0);

  li{
    background-color: black;
  }
}
.features-dot {
}
.dot-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;

}
