.carousel-caption.h1 {
  margin-top: 0;
}
.txt-slider{
  display: inline-flex;
}

.hr-txt{
  display: inline-flex;
  position: relative;

}
.txt{
  padding: 10px 30px;
}
hr{
  color: #0feb9e;
  background-color: #0feb9e;
  height: 1px;
}

.txt-color{
  color: #00a849;
}
.slider-icon{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 5s;
  a{
    text-decoration:none;
  }
}
.carousel-caption{
  position: absolute;
  top: 50%;
 }
.item{
  position: relative;
}